* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #FF9907;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;

}

.loaders {
  display: flex;
  width: 50vw;
  margin: 0.5vw auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
h1 {  
  font-weight: 600;
}

.container {
  display: flex;
  max-width: 40vw;
  min-width: 360px;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  height: 10vh;
  position: relative;
  margin: 2.4vw auto 0;
}

.loader {
  position: relative;
  margin: 0; 
  height: 60px;
}

.loader1 {
  width: 100px;
  height: 40px;
  position: relative;
}


.loading-text {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  font-family: sans-serif;
  font: 400 1em/1em 'Monserrat', sans-serif;
}
  
.spring-ball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}

.spring-ball::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  animation: bounce 0.5s alternate infinite ease;
}

@keyframes bounce {
  0% {
  transform: scaleX(2);
  top: 30px;
  height: 7px;
  border-radius: 50px 50px 18px 18px;
}
35% {
  transform: scaleX(1);
  height:15px;
  border-radius: 50%;
}
100% {
    top: 0;
  }
}

.loader3 {
  width: 40px;
  height: 40px;
  position: relative;
}
  
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% { transform: scale(0.0) }
  50% { transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
  transform: scale(0.0);
  } 50% {
  transform: scale(1.0);
  }
}

.loader4 {
  position: relative;
  width: 65px;
  height: 100px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}



.loader5 {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 40px;
}
.loader5 div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader5 div:nth-child(1) {
  left: 6px;
  animation: circles_chain1 0.6s infinite;
}
.loader5 div:nth-child(2) {
  left: 6px;
  animation: circles_chain2 0.6s infinite;
}
.loader5 div:nth-child(3) {
  left: 26px;
  animation: circles_chain2 0.6s infinite;
}
.loader5 div:nth-child(4) {
  left: 45px;
  animation: circles_chain3 0.6s infinite;
}
@keyframes circles_chain1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circles_chain2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@keyframes circles_chain3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


.loader6 {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1.0s;
}
  
@keyframes sk-rotate { 
  100% { transform: rotate(360deg);
  }
}

@keyframes sk-bounce {
  0%, 100% {
  transform: scale(0.0);
  } 50% {
  transform: scale(1.0);
  }
}
