* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	position: relative;
}


a {
	text-decoration: none;
	color: #000000;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

.block {
    border-bottom: 1px solid black;
    padding: 20px;
    display: flex;
}

.img-mod {
    margin: 20px;
}

.ui {
    display: flex;
    flex-direction: column;
}

.form {
    margin: 20px;

}

.form input {
    width: 50px;
    margin-right: 20px
}

.output {
    margin: 20px;
}

.value {
    margin-right: 20px
}

.button_block {
    display: flex;
    justify-content: flex-end;
}

.button_block button {
    width: 150px;
    height: 50px;
    margin: 20px;    
}